.outer{
    /* scroll-snap-type: y mandatory; */
    /* overflow-y: scroll; */
    /* height: 100vh; */
    overflow-x: hidden;
}

.outer > div{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    background-color: black;
    background-image: url(images/Noise/Noise12.svg);
    overflow-x: hidden;
}