*{
    --primary-color : #F2F2F2;
}

.outer{
    overflow-x: hidden;
}

.outer > div{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    overflow-x: hidden;
}

.brief p{
    color: red;
}